body {
    width: 80%;
}

h1 {
    font-family: 'Simplifica';
    font-size: 3rem;
    text-align: center;
}

.left{
    width: 50%;
    float: left;
    padding: 20px;
    
}


#price {
    color: red;
}

.right {
    width: 30%
    float: right;
    padding: 20px;
}

.right > img {
    max-width: 50px;
}

.left > img {
    max-width: 600px;
}