main {
    /*width: 80%;*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Simplifica';
    font-size: 3rem;
}

.left{
    width: 50%;
    text-align: left;
    
}


#price {
    color: red;
}

.right {
    width: 30%
    justify-content: right;
}

.right > img {
    max-width: 50px;
}