body {
    width: 80%;
    margin: auto;
}

h1 {
    font-family: 'Simplifica';
    font-size: 3rem;
    text-align: center;
}

.left{
    width: 70%;
    float: left;
}


#price {
    color: red;
}

.right {
    width: 30%
    float: right;
    padding: 20px
}

.right > a > img {
    max-width: 50px;
    padding: 20px;
}

.left > img {
    max-width: 600px;
}